/* .Card {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    color: aliceblue;
}

.card-wrapper {
	display: grid;
	grid-template-columns: minmax(300px, 25%) 1fr;
	grid-gap: 2rem;
    color: aliceblue;
}

@media only screen and (max-width: 800px) {
	.card-wrapper {
		display: flex;
		flex-direction: column;
	}
} */
.container {
	display: grid;
  }

.Card {
	border: 1px solid rgb(255, 254, 252);
	border-radius: 8px;
	padding:20px;
	width:300px;
	box-shadow: 0px 2px 2px rgb(255, 255, 255);
	text-align:center;
	background-color: rgb(5, 5, 5);
	color: aliceblue;
	
  }

  .card_img{
	width: 100%;
	
	}

.btn-select{
  background-color:rgb(40, 185, 52);
  min-height: 40px;
  min-width :40px;
  color:rgb(240, 240, 240);
  border:none;
  border-radius: 4px;
}